.admin-addplace {
    margin: 40px;
  }
  
  .admin-addplace .addplace-form {
    margin: 20px auto;
    box-shadow: 0px 0px 10px 10px rgb(214, 214, 214);
    padding: 30px;
    width: 470px;
  }
  
  .admin-addplace .addplace-form h1 {
    color: black;
  }
  
  .admin-addplace .addplace-form .btn-add {
    display: flex;
    justify-content: end;
  }
  