.user-signin .user-signin-form {
    margin: 100px auto;
    box-shadow: 0px 0px 10px 10px rgb(214, 214, 214);
    padding: 30px;
    width: 470px;
  }
  
  .user-signin .user-signin-form h1 {
    color: black;
  }
  
  .user-signin .user-signin-form .btn-signin {
    display: flex;
    justify-content: end;
  }